<%- include("partials/header.ejs") %>

<% if(locals.texto && locals.titulo) { %>
    <div class="container">
    <form action="/post?_method=PUT&titulo=<%= titulo %>" method="post">
        <div class="mb-3">
            <label for="Titulo" class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo" value="<%= titulo %>">
        </div>
        <div class="mb-3">
            <label for="Texto" class="form-label">Compartilhe suas ideias com a gente.</label>
            <textarea class="form-control" name="texto"><%= texto %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        
        <a href="/">
        <button type="button" class="btn btn-primary">Cancelar</button>
        </a>
    </form>
    </div>
<% }%>

<%- include("partials/footer.ejs"); %>