<%- include("partials/header.ejs"); %>

<% if(locals.titulo && locals.texto) { %>
    <div class="container">
        <h1 class="text-center border-bottom pb-3"><%= titulo %></h1>
        <div class="texto py-3"><%= texto %></div>
        
        <form action="/post?_method=PUT&titulo=<%= titulo %>" method="POST">
            <input class="btn btn-primary" type="submit" value="Editar post">
        </form>
        <form action="/post?_method=DELETE&titulo=<%= titulo %>" method="POST">
            <input class="btn btn-primary" type="submit" value="Excluir post">
        </form>
    </div>
<% } else { %>
    <div class="container">
        <div>Publicação não encontrada!</div>
    </div>
<% } %>

<%- include("partials/footer.ejs"); %>