<%- include("partials/header.ejs"); %>

<% if(locals.titulo && locals.texto) { %>
    <div class="container">
        <form action="/post?_method=DELETE&titulo=<%= titulo %>" method="POST">

            <h1 class="text-center border-bottom pb-3"><%= titulo %></h1>

            <div class="texto py-3"><%= texto %></div>
    
            <a href="/editar?titulo=<%= titulo %>">
                <button type="button" class="btn btn-primary"> Editar post</button>
            </a>

            <button class="btn btn-primary" type="submit">Excluir post</button>
        
        </form>

    </div>
<% } else { %>
    <div class="container">
        <div>Publicação não encontrada!</div>
    </div>
<% } %>

<%- include("partials/footer.ejs"); %>